.container {
    width: 80%;
    margin: 2em auto;
}

#question {
    color: blue;
}

#answer h3 {
    font-family: "Gill Sans", sans-serif;
    margin-top: 2em;
}

ul {
    margin-left: 2em;
}

li{
    margin-top: 0.5em;
}